body
  min-width: 300px

.clear
  clear: both


.page-header
  background-color: $blue
  position: fixed
  left: 0
  right: 0
  top: 0
  height: 30px
  padding: 5px
  z-index: 10
  box-shadow: 0 2px 1px rgba(black, 0.1)
  transform: translateY(-45px)
  transition: transform 100ms $ease-in-cubic
  &.visible
    transform: none
    transition-timing-function: $ease-out-cubic
  @media (max-width: $width-640)
    .page-navigation
      display: none

.page-language-nav
  position: fixed
  right: 10px
  top: 10px
  z-index: 10

.page-language-nav-link
  color: white
  text-transform: uppercase
  opacity: 0.7
  font-size: 14px
  padding: 5px 3px
  +antialiased-font
  &:hover
    opacity: 1
  &.current
    font-weight: $bold
    opacity: 1


.page-header-logo
  float: left
  margin-right: 20px


.page-navigation-item
  display: inline-block
  color: white
  font-size: 14px
  +antialiased-font
  &::after
    content: "/"
    opacity: 0.5
  &:last-child::after
    content: none

.page-navigation-link
  display: inline-block
  padding: 5px
  font-weight: $bold
  &:hover
    opacity: 0.9



.page-footer
  margin-top: 80px
  padding: 50px 20px
  background-color: $blue
  text-align: center
  .page-navigation
    margin: auto

.page-footer-logo
  display: block
  margin: 0 auto 30px
  max-width: 100%
