<%- link_to data.config.google_play_url, class: "store-button" do %>
  <%= image_tag("google-play-#{I18n.locale}.svg", alt: t("index.intro.google_play")) %>
<%- end %><div class="store-button">
  <%= image_tag("app-store-soon-#{I18n.locale}.svg", alt: t("index.intro.app_store")) %>
</div>
